<body class="home">
  <h1 class="display-1">IoT Collection Data</h1>
  <p class="fw-normal">Collect everything you want</p>
  <form method="POST" , action="sendToFirebase" , class="number-home">
    <label class="form-label number-label">Number 1</label>
    <input type="number" class="form-control" id="number-1" name="number1" />
    <label class="form-label number-label">Number 2</label>
    <input type="number" class="form-control" id="number-2" name="number2" />
    <button type="submit" class="btn btn-primary mb-3 btn-home">Send To Firebase</button>
  </form>
</body>