<body class="home">
  <div class="turned">
    <div class="wrapper">
      <svg
        class="checkmark"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 52 52"
      >
        <circle
          class="checkmark__circle"
          cx="26"
          cy="26"
          r="25"
          fill="none"
        ></circle>
        <path
          class="checkmark__check"
          fill="none"
          d="M14.1 27.2l7.1 7.2 16.7-16.8"
        ></path>
      </svg>
    </div>
  </div>
  <h1 class="display-2">Turned</h1>
  <div class="go-to-control">
    <a class="btn btn-primary" href="/control" role="button">Continue</a>
  </div>
</body>